$defaultFontSize: 16px;

$Orange: #ea7c28;
$primaryColor: #ffffffff;
$primaryColorHover: #4253fc;
$secundaryColorHover: #1890ff;

$menuColor: #625f66;

$fontLight: #fff;
$fontGreyLight: #625f67;
$fontGrey: #80808080;
$fontGreyDark: #000;
$fontLightGrey:#f3f3f3;

$borderLight: #fff;
$borderGreyLight: #e8e8e8;
$borderGrey: #808080;
$borderGreyDark: #595959;
$borderLight: #252527;
$borderLight: #000;


$backgroundLight: #fff;
$backgroundGreyLight: #e8e8e8;
$backgroundGrey: #808080;
$backgroundGreyDark: #595959;
$backgroundDarkLight: #252527;
$backgroundDark: #000;
$backgroundError:#e8a9a9;
$backgroundSucces:#c5f2bf;


$succes: #5cb751;
$error: #e62214;


$media-breakpoint-down-xs:413.98px;
$media-breakpoint-down-sm:573.98px;
$media-breakpoint-down-md:767.98px;
$media-breakpoint-down-lg:991.98px;
$media-breakpoint-down-xl:1199.98px;

$media-breakpoint-up-xs:320px;
$media-breakpoint-up-sm:756px;
$media-breakpoint-up-md:768px;
$media-breakpoint-up-lg:992px;
$media-breakpoint-up-xl:1200px;



